/* -------------------------------- Footer */

.category-light {
	background-color: $beige;
	color: $darkbeige;
}

footer {
	background-color: $darkbeige;
	border-top: 1px solid #444;
	text-align: center;
	color: #d3d3d3;

	a,
	a:visited,
	a:visited:hover {
		color: #d3d3d3;
	}

	.modifyme {
		margin: 0 auto 0 auto;
	}

	.category-light {
		top: -85px;
	}

	#information {
		padding-bottom: 10px;
	}

	#information,
	nav {
		display: inline-block;
		font-size: 0.8em;
	}

	a.enigma-button {
		font-size: 1.3em;
		margin: {
			top: 20px;
			left: 10px;
			right: 10px;
		}
	}

	nav {
		border-top: 1px solid #FFF;
		margin-top: 32px;
		padding: {
			bottom: 3em;
			top: 50px;
		}
		width: 100%;
		background-color: $beige;
		min-height: 78px;
		clear: both;

		li {
			display: inline-block;
			padding: 0 10px 0 10px;
			vertical-align: top;

			a,
			a:visited {
				font-size: 0.9em;
				letter-spacing: 1px;
				color: $darkbeige;
				display: inline-block;
				padding: 5px 13px 5px 13px;
				height: 35px;
				line-height: 35px;
				text: {
					decoration: none;
					transform: uppercase;
				}
			}

			a:hover {
				color: $footernavigationhover;
			}

			&.active-mouse-hover {
				background-color: $navigationbackground;
				@include border-top-radius( 12px );

				a,
				a:visited {
					color: $lightgrey;
				}
			}

			ul.sub-menu,
			ul.children {
				z-index: 9999;
				display: none;
				position: absolute;
				left: 0;
				width: 100%;
				background-color: $navigationbackground;

				a,
				a:visited {
					color: $beige;

					&:hover {
						color: $lightgrey;
					}
				}
			}
		}
	}

	
	#information {
		p {
			margin-top: 1em;
			width: 600px;
		}

		img {
			width: 160px;
			height: 160px;
			@include border-radius( 90px );
			border: 6px solid #333;
		}
	}

	p {
		margin-top: 2em;
		display: block;
	}

	hr {
		margin: 2.9em 0 0.5em 0;
	}

	span.copyright {
		font-size: 0.6em;
		opacity: 0.8;
		color: $darkbeige;
		text-transform: uppercase;

		a {
			text-decoration: none;
			color: $darkbeige;

			&:hover {
				color: #333;
				text-decoration: underline;
			}
		}
	}
}

aside#sidebar {
	margin: 2em auto 0 auto;
	width: 850px;
	
	ul {
		li {
			display: inline-block;
			width: 30%;
			padding: 0 1% 0 1%;
			color: $beige;
			font-size: 0.8em;
			vertical-align: top;
			overflow: auto;

			a,
			a:visited {
				color: $beige;
			}
			
			h2 {
				border: {
					top: 1px solid $navigationbackground;
					bottom: 1px solid $navigationbackground;
				}
				margin-bottom: 2em;
			}

			li {
				float: none;
				width: 100%;
				text-align: left;
			}

			table {
				width: 100%;

				td, th {
					text-align: center;
				}

				td#today {
					background-color: $beige;
					color: $darkbeige;
				}
			}

			input {
				color: $lightgrey;
				border-color: $lightgrey;

				&:focus {
					border-color: $beige;
				}
			}
		}
	}
}