/* -------------------------------- Header */

header {
	background-color: $darkbeige;
	height: 16.5em;
	margin-bottom: -10px;

	&.portfolio-entry-header {
		background-color: $beige;
		height: auto;

		h2.portfolio-entry-title {
			display: none;
		}
	}

}

.placeholder {
	text-align: center;
	padding-top: 80px;

	h1 {
		a,
	 	a:visited {
			display: block;
			font: {
				family: $raleway;
				size: $h1;
				weight: 300;
			}
			text: {
				decoration: none;
				transform: lowercase;
			}
			color: $beige;
			line-height: 1.5em;
		}
	}
}

.placeholder .description,
a.more-link {
	border: 2px solid $blockquotecolor;
	padding: 5px 10px 5px 10px;
	@include border-radius( 12px );
	color: $pagebarcolor;
	letter-spacing: 2px;
	font-size: 0.75em;
}