// Fonts
$sans: "Open Sans", "Lucida Grande", Helvetica, sans;
$condensed: "Roboto Slab", Helvetica, sans;
$serif: Georgia, "Times New Roman", sans-serif;
$raleway: "Raleway", Helvetica, sans;
$code: "Menlo", "Lucida Console", System, sans;
$arrow: "Times New Roman", sans-serif;
$iconfont: "dashicons";

// Fontsize
$textsize: 19px;
$commentsize: 0.8em;
$h1: 3.9em;
$h2: 2.4em;
$h3: 1.8em;
$h4: 1.6em;
$h5: 1.4em;
$h6: 1.1em;

$headings: (
	("h2", $h2, 0),
	("h3", $h3, 1em),
	("h3.comment-reply-title", $h3, 0),
	("h4", $h4, 1em),
	("h5", $h5, 1em),
	("h6", $h6, 1em),
);

// Dimensions
$textwidth: 677px;

// Colors
$beige: #FAFAFA;
$darkbeige: #494949;
$lightgrey: #CDCDCD;
$pagebarcolor: #AAA;
$footernavigationhover: #a1a1a1;
$blockquotecolor: #757575;
$navigationbackground: #7C7C7C;
$comment-list-background: lighten($darkbeige, 7);
$post-image-headline-background: rgba( 0, 0, 0, 0.55 );
$post-image-p-background: rgba( 0, 0, 0, 0.4 );

// Symbols
$rss: "\f303";
$comments: "\f101";
$calendar: "\f508";
$category: "\f318";
$tag: "\f323";