/* -------------------------------- Wrapper */

body {
	font: #{$textsize}/1.85 $sans;
	background-color: $darkbeige;
	color: $beige;

	&>a.screen-reader,
	&>a.screen-reader:visited {
		color: $beige
	}
}

#wrapper {
	background-color: $beige;
	color: $darkbeige;
}

header nav ul,
.modifyme {
	margin: 0px auto 0px auto;
}

.hide {
	display: none;
}

.modifyme {
	width: $textwidth;
}

.singlepage {
	padding-top: 2em;
}