/* -------------------------------- Search & Form Elements */

input,
textarea {
	font: 20px/1.5 $sans;
	color: $darkbeige;
	padding: 5px 10px 5px 10px;
	border: 2px solid #CCC;
	border-radius: 10px;
	background: rgba( 0, 0, 0, 0);

	&:focus {
		outline: none;
		border-color: $darkbeige;
	}

	&.search-field {
		width: 240px;
	}

	&.search-submit {
		display: none;
	}
}

input[type=file] {
	font: 15px/1.1 $sans;
}

input[type=search] {
	-webkit-appearance: none;
}

input[type=submit] {
	cursor: pointer;
	color: #7a7a7a;
	
	&:hover {
		color: $darkbeige;
		border-color: $darkbeige;
	}
}

fieldset {
	border: 1px solid $darkbeige;
	padding: 10px;
}

legend {
	padding: 0 5px 0 5px;
}

ol.commentlist {
	input,
	textarea {
		color: $lightgrey;

		&:focus {
			outline: none;
			border-color: #FFF;
		}
	}

	input[type=submit] {
		color: $lightgrey;

		&:hover {
			border-color: #FFF;
			color: #FFF;
		}
	}
}